
.portfolio{
      width: 100%;
      min-height: 100vh;
    padding: 30px 8%;
    background-color:#0f1a2c;
  }
  .portfolio .section-head{
    max-width: 700px;
    margin: 0px auto 25px;
    text-align: center;
  }
  .section-head h1{
    position: relative;
    font-size: 32px;
    margin: 10px 0px 30px;
    color: #f8fafc;
  }
  .button-group{
    text-align: center;
    margin-bottom: 40px;
  }
  .button-group .button{
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #0f1a2c;
    color: #f8fafc;
    font-style: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
  .button-group .button.active{
    background-color: #f6ac0f;
    color: #f8fafc;
  }
  .button-group .button:hover{
    background-color: #f6ac0f;
    color: #f8fafc;
  }
  div.gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  div.gallery .item{
    position: relative;
    margin: 4px;
    width: calc(33.33% - 8px);
    overflow: hidden;
    cursor: pointer;
  }
  .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.3s;
  }
  div.gallery .item:hover img{
    transform: scale(1.15);
  }
  .item .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(5,85,92,0.7);
    color: #f8fafc;
    padding: 15px;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }
  .item:hover .overlay{
    opacity: 1;
  }
  .item .overlay a{
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #0f1a2c;
    color: #f8fafc;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
  }
  .item .overlay a:hover{
    background-color: #0f1a2c;
    color: #f8fafc;
  }
  
  
  @media(max-width: 1024px){
    div.gallery .item{
      width: calc(50% - 8px);
    }
  }
  
  @media(max-width: 600px){
    div.gallery .item{
      width: 100%;
      margin: 4px 0px;
    }
  }